a:visited {
	color: #00f;
}
body {
	margin: 0 auto;
	max-width: 800px;
	padding: 1em;
}
code {
	font-size: 2em;
}
div {
	border: 1px solid #aaa;
	border-radius: 15px;
	padding: 8px 0;
	text-align: center;
}
nav {
	float: right;
}
